name: Continuous Integration
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: adopt
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Gradle build
        run: ./gradlew build
      - name: Upload Artifacts
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-artifact@v4
        with:
          path: |
            **/build/distributions/*
            **/build/reports/*

  e2e-integration:
    name: E2E Integration test
    needs: build
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: adopt
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Download Distribution
        uses: actions/download-artifact@v4
        with:
          name: artifact
          path: artifact
      - name: Extract Distribution
        uses: ihiroky/extract-action@v1
        with:
          file_path: artifact/similarity/build/distributions/similarity.tar
          extract_dir: dist
      - name: Test Similarity
        run: scripts/e2e-integration-test.sh
